@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
  background: linear-gradient(to right, #d4d3dd, #efefbb);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  margin: 0;
}

h1 {
  letter-spacing: 3px;
}
.search-container {
  text-align: center;
  position: relative;
  font-size: 0;
  top: 50%;
}
.searchTerm {
  padding: 0 30px;
  font-size: 18px;
  width: 100%;
  max-width: 400px;
  border: 1px solid darken(white, 30%);
  background-color: #ebf1fa;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  pointer-events: none;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  pointer-events: all;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  pointer-events: none;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
  pointer-events: none;
}

.pokemon .info {
  margin-top: 20px;
  pointer-events: none;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
  pointer-events: none;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
  pointer-events: none;
}
.pokemon:hover {
  transform: scale(1.4);
  cursor: pointer;
}

/* #container{width:50%; background-color:blue} */
#container .search-container {
  width: 100%;
  margin: 1% 2% 1% 2%;
}
#container .search-container #searchTerm {
  width: 61%;
  height: 4%;
  float: left;
}
#container .search-container #submitSearch {
  width: 15%;
  height: 4%;
  float: left;
}
#container .search-container #nextPage {
  width: 15%;
  height: 4%;
  float: left;
  /* margin-left: 4%; */
}
