@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}
html {
  height: 90%;
}
body {
  height: 50%;
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
  background: linear-gradient(to right, #d4d3dd, #efefbb);
}
.tHalf {
  height: 30%;
}
.halvsies {
  height: 40%;
}
.lhalf {
  float: left;
  width: 50%;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  text-align: center;
}
.rhalf {
  float: right;
  width: 50%;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  background-color:#eeeebc;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  float: left;
  padding: 2px;
}
/* img .smallImage {
  width: 300px;
  height: 300px;
  float: right;
  align-items: right;
} */
.etsy{
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.103);
  height: 100px;
  margin: auto;
  text-align: center;
}
.etsy:hover{
  cursor: pointer;
  background-color: khaki;
  transform: scale(1.05);
}
.etsy-img-container{
  float: left;
}
/* .etsy-info{
  float: right;
  align-content: center;
  text-align: right;
} */

p {
  text-align: left;
  padding: 1;
  margin: 0;
}
tr {
  text-align: left;
}
